@model PostViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCProject</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
   @*<link href="~/css/bootstrap.min.css" rel="stylesheet"/>*@
    <link href="~/css/Style.css" rel="stylesheet" />

</head>
<body>
    <div class="header1">
        <div class="searchAndIcon">
            <div id="" class="facebookIcon">
                <i class="fab fa-facebook-square"></i>
            </div>
            <div id="" class=""><input placeholder="Search " type="text" id="" class="searchbox" /></div>
        </div>

        <div class="connectionIcon">
            <div id="" class="profilearea">
                <a href="#">
                    <img src="~/img/prof.png" class="profpic" />
                </a>
            </div>
            <div class="collectionOfNavICon">

                <div id="" class="profilearea1"><a href="#">Profile</a></div>

                <div id="" class="profilearea4">Home</div>

                <div id="" class="findf">
                    <i class="fas fa-users"></i>
                </div>
                <div id="" class="message">
                    <i class="fab fa-facebook-messenger"></i>
                </div>
                <div id="" class="notification">
                    <i class="fas fa-bell"></i>
                </div>

                <div id="" class="setting">
                    <i class="fas fa-cog"></i>
                </div>
            </div>

        </div>

        <div class="chat-sidebarRight">

            @foreach (var item in Model.UserFriends)
            {
                <div class="friendList">
                    <div class="frinedImg">
                        <img src="~/img/prof.png" alt="">
                    </div>
                    <div class="friendName">@item.UserFirstName  @item.UserLastName</div>
                </div>
            }
            @*<div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>

            <div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>
            <div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>
            <div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>
            <div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>
            <div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>
            <div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>
            <div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>
            <div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>
            <div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>
            <div class="friendList">
                <div class="frinedImg">
                    <img src="~/img/prof.png" alt="">
                </div>
                <div class="friendName">Sara Atef</div>
            </div>*@
        </div>

    </div>

    <div class="FacebookContent">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <a href="~/js/bootstrap.bundle.min.js.map">~/js/bootstrap.bundle.min.js.map</a>
    <a href="~/js/bootstrap.min.js.map">~/js/bootstrap.min.js.map</a>
    <script src="~/js/test.js"></script>


    @RenderSection("Scripts", required: false)



</body>
</html>
